<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link rel='stylesheet' href='Styles/culture.css'>
    <title></title>
  </head>
  <header>
    <h1>Culture</h1>
    <nav>
      <ul class='nav'>
        <li class='home'><a href="/">Home</a></li>
      </ul>
   </nav>
 </header>
  <body>
    <div class='flex-container'>
      <div class='flex-item1'>
        <div class='type1'>Common German Phrases</div>
          <ul class='list'>
              <li class='word'>Guten Tag</li>
              <li class='pronounce'>goot-en tahk</li>
              <li class='english'>Hello/Good Day</li>
              <br>
              <li class='word'>Bitte</li>
              <li class='pronounce'>bih-tuh</li>
              <li class='english'>Please</li>
              <br>
              <li class='word'>Auf Wiedersehen</li>
              <li class='pronounce'>owf VEE-dur-zan</li>
              <li class='english'>Goodbye</li>
              <br>
              <li class='word'>Danke Sch&#246;n</li>
              <li class='pronounce'>DAN-kuh shurn</li>
              <li class='english'>Thank You</li>
              <br>
              <li class='word'>Wo sind die Toiletten?</li>
              <li class='pronounce'>voh zint dee toy-l&#234;t-en?</li>
              <li class='english'>Where are the bathrooms?</li>
              <br>
              <li class='word'>Entschuldigen Sie</li>
              <li class='pronounce'>ent-SHOOL-dee-gun zee</li>
              <li class='english'>Pardon Me</li>
              <br>
              <li class='word'>Sprechen Sie Englisch?</li>
              <li class='pronounce'>shprexh-en zee eng-lish</li>
              <li class='english'>Do you speak English?</li>
              <br>
              <li class='word'>Ja, bitte/Nein, danke.</li>
              <li class='pronounce'>yar bitt-er/niyn dang-ker</li>
              <li class='english'>Yes, please/No, thank you.</li>
              <br>
              <li class='word'>Würden Sie mir bitte helfen?</li>
              <li class='pronounce'>vuer-den zee meer bi-te hêl-fen?</li>
              <li class='english'>Would you help me please?</li>
              <br>
          </ul>
          <h4>For more phrases, <a href='http://www.dummies.com/languages/german/german-for-dummies-cheat-sheet/'>CLICK HERE.</a></h4>
      </div>
      <div class='flex-item2'>
        <div class='type2'>Food to Try</div>
        <ul class='list2'>
          <li class='food'>Black Forest Cake</li>
            <p class='description'>chocolate sponge cake sandwiched with whipped cream and cherries</p>
          <br>
          <li class='food'>Bratwurst</li>
            <p class='description'>a sausage usually made of beef, pork, or veal</p>
          <br>
          <li class='food'>Breaded Pork Schnitzel</li>
            <p class='description'>meat, usually thinned by pounding with a meat tenderizer, that is fried</p>
          <br>
          <li class='food'>Königsberger Klopse</li>
            <p class='description'>this dish consists of veal meatballs in a creamy white sauce made with capers and lemon juice; traditionally served with boiled potatoes</p>
          <br>
          <li class='food'>Sauerbraten</li>
            <p class='description'>pot roast that can be prepared with a variety of meats</p>
          <br>
          <li class='food'>Sauerkraut</li>
            <p class='description'>finely cut cabbage that has been fermented by various lactic acid bacteria</p>
          <br>
          <li class='food'>Spätzle Noodles</li>
            <p class='description'>Traditional Swabian Egg Noodles</p>
          <br>
          <li class='food'>Stollen</li>
            <p class='description'>a bread made of dried or candied fruit, marzipan, nuts like almonds, and spices like cinnamon and cardamom</p>
          <br>
          <li class='food'>Strudel</li>
            <p class='description'>layered pastry with a filling that is usually sweet</p>
          <br>

        </ul>

      </div>
      <div class='flex-item3'>
        <div class='type3'>Cultural Etiquette</div>
          <h3>Clothing</h3>
            <p class='manners'></p>
            <p class='manners'></p>
            <p class='manners'></p>
            <p class='manners'></p>
          <h3>Table Manners</h3>
            <p class='manners'>Keep your knife in your left hand and your fork in your right hand. Don't switch. </p>
            <p class='manners'>Hands should stay visible above the table.</p>
            <p class='manners'>Keep elbows off of the table.</p>
            <p class='manners'>When finished, lay fork and knife across the right side of the plate</p>
          <br>
          <h3>Tipping</h3>
            <p class='manners'>Guide: 5-10% per day </p>
            <p class='manners'>Waitstaff: 10-15% </p>
            <p class='manners'>**Hand your tip directly to your server.</p>
            <p class='manners'>Bartender: 10% </p>
            <p class='manners'>Taxi Drivers: round up to the nearest &euro;</p>
          <br>
          <h3>Miscellaneous</h3>
            <p class='manners'>Be on time. Punctuality is highly valued in Germany.</p>
            <p class='manners'>Keep your hands out of your pockets when you talk to someone.</p>
            <p class='manners'>Avoid shouting or chewing gum in public.</p>


      </div>
    </div>
  </body>
</html>
