<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link rel='stylesheet' href='Styles/culture.css'>
    <title></title>
  </head>
  <header>
    <h1>Culture</h1>
    <nav>
      <ul class='nav'>
        <li><a href="/">Home</a></li>
      </ul>
   </nav>
 </header>
  <body>
    <h2>Common German Phrases</h2>
      <ul class='phrases'>
        <li class='word'>Guten Tag</li>
        <li class='pronounce'>goot-en tahk</li>
        <li class='english'>Hello/Good Day</li>
        <br>
        <li class='word'>Bitte</li>
        <li class='pronounce'>bih-tuh</li>
        <li class='english'>Please</li>
        <br>
        <li class='word'>Auf Wiedersehen</li>
        <li class='pronounce'>auf-</li>
        <li class='english'>Please</li>
        <br>


      </ul>
  </body>
</html>
