<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link rel='stylesheet' href='Styles/culture.css'>
    <title></title>
  </head>
  <header>
    <h1>Culture</h1>
    <nav>
      <ul class='nav'>
        <li><a href="/">Home</a></li>
      </ul>
   </nav>
 </header>
  <body>
    <div class='flex-container'>
      <div class='type'>Common German Phrases</div>
        <br>
          <ul class='phrases'>
            <li class='word'>Guten Tag</li>
            <li class='pronounce'>goot-en tahk</li>
            <li class='english'>Hello/Good Day</li>
            <br>
            <li class='word'>Bitte</li>
            <li class='pronounce'>bih-tuh</li>
            <li class='english'>Please</li>
            <br>
            <li class='word'>Auf Wiedersehen</li>
            <li class='pronounce'>owf VEE-dur-zan</li>
            <li class='english'>Goodbye</li>
            <br>
            <li class='word'>Danke Sch&#246;n</li>
            <li class='pronounce'>DAN-kuh shurn</li>
            <li class='english'>Thank You</li>
            <br>
          </ul>
      <div class='type'>Food to Try</div>
          <ul class='phrases'>
            <li class='word'>Guten Tag</li>
            <li class='pronounce'>goot-en tahk</li>
            <li class='english'>Hello/Good Day</li>
          </ul>
      </div>
      <div class='type'>Cultural Etiquette</div>
    </div>
  </body>
</html>
