<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link rel='stylesheet' href='../Styles/homepage.css'>
    <meta charset="utf-8">
    <title>Home Page</title>

  </head>
  <body>
    <header>
      <h1>Study Abroad App</h1>
      <nav>
        <ul class='nav'>
          <li><a href="/">Home</a></li>
          <li><a href="/">Adventure</a></li>
          <li><a href="/web">Culture</a></li>
          <li><a href="/bio">Transportation</a></li>
          <li><a href="/contact">Travel Tips</a></li>
        </ul>
     </nav>

  </body>
</html>
