<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RHU</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link rel='stylesheet' href='../Styles/transportation.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  </head>
  <header>
    <h1>Transportation</h1>
    <nav>
      <ul class='nav'>
        <li><a href="homepage.html">Home</a></li>
      </ul>
   </nav>
 </header>
  <body>

<h3>Public Transportation</h3>
<p> Traveling between destinations in Bonn is not only easy, but convenient, as their public transportation
network is well-developed with city sites and residential neighborhoods within close proximity. For those
without their own cars, Bonn has excellent public transportations including, but not limited to buses, trams, subways,
city trains, and several Rhine Ferries.</p>

<h3> Buses and Trams</h3>
<p> Bus and tram stops are marked by a sign with a green H in a green circle against a yellow background.
The number of buses/trams that stop there are usually listen there together with their the frequency of
their arrival/departure.</p>
<img src="">
<h3> Underground (U-Bahn)</h3>
  </body>
</html>
