<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="transportation.css">
    <meta charset="utf-8">
    <title>transportationform.html</title>
  </head>

  <body>
    <h1>Modes of Transportation</h1>
    <form>
      <select name="How do you want to travel?">
  <option value="Subway/Metro/Underground">Subway/Metro/Underground</option>
  <option value="Uber">Uber</option>
  <option value="City Bus">City Bus</option>
  <option value="Tram">Tram</option>
  <option value="City Bikeshare Rental">City Bikeshare Rental</option>


      </select>
  </body>
</html>
