
.nav {
  background-color: none;
  color: black;
  list-style: none;
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin-top: -10px;
}

li {
  font-size: 40px;
  font-family:'Faster One', cursive;
}
.nav > li {
  display: inline-block;
  padding: 0px 6px 0px 6px;
}

.nav > li > a {
  text-decoration: none;
  color: black;
}

.nav > li > a:hover {
  color: grey;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 2px 2px #53D8BC;
}
h3{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
p{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

a {
  color: #53D8BC;
  text-decoration: none;
}
